.hourglass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20;
  width: fit-content;
  height: fit-content;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-cream);
  opacity: 0.9;
}

.icon {
  width: clamp(16px, 3vw, 24px);
  height: clamp(16px, 3vw, 24px);
}

